!!! 5

%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "user-scalable=no, initial-scale=1, minimal-ui=true"}
    %title Arctiles
    %link(type="text/css" rel="stylesheet" href="style.css")
    %script(src="paper-full.min.js")
    %script(src="randomColor.js")
    %script(src="app.js" canvas="papercanvas")

  %body
    %canvas#papercanvas
    #slide-wrapper
      #slide
        %div.ui
          %ul
            %li#jumble jumble
            %li#larger larger
            %li#smaller smaller
            %li#addring + ring
            %li#subtractring &ndash; ring
            %li#color mono
            %li#luminosity dark
            / %li#png png
            / %li#svg svg
            %li#info ?

        %div.info
          %ul
            %li Github
            %li Twitter
            %li Hire me
            %li#closeinfo &times;
          .colophon Made with love in SF
