$break-small: 40em;
$break-medium: 60em;
$light-grey: #bbb;
$dark-grey: #444;
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* * {
    -webkit-tap-highlight-color: rgba(255,255,255,0.5) !important;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: helvetica,arial,sans-serif;
    color: $light-grey;
    a, a:visited {
        color: lighten(#00aced, 10%);
        &:hover, &:active {
            color: darken(#00aced, 10%);
        }
    }
}
canvas {
    background-color: #fff;
    margin: 0;
}
#slide-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 96px;
    padding: 0;
    margin: 0;
}
#slide {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
}
#slide.show-nav {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ui, .info {
    width: 100%;
    height: 100%;
    text-align: center;
    & > ul {
        margin: 10px auto 8px;
        display: block;
        padding: 0;
        li {
            display: inline-block;
            border: 1px solid lighten($light-grey, 10%);
            padding: 6px 11px;
            border-radius: 18px;
            margin: 0 0 6px 0;

            &:hover {
                cursor: pointer;
                .no-touch & {
                    background-color: lighten($light-grey, 10%);
                    color: $dark-grey;
                }
            }
            &:active {
                background-color: #fff;
                color: $dark-grey;
                border-color: $dark-grey;
                .no-touch & {
                    border-color: #fff;
                }
            }
        }
        @media only screen and (max-width: $break-small) {
            margin: 4px auto 0;
            font-size: 1em;
            li {
                padding: 7px 13px;

            }
        }
        @media only screen and (min-width: $break-small) and (max-width: $break-medium) {
            margin: 4px auto 0;
            font-size: .9em;
        }
        @media only screen and (min-width: $break-medium) {
            font-size: .9em;
            margin: 8px auto 0;
        }
    }
}
.info {
    position: absolute;
    top: 0;
    left: 100%;
    & > ul {
        li {
            color: $light-grey;
            border: none;
            border-radius: 0;
            padding: 0;
            width: 20%;
            @media only screen and (min-width: $break-medium) {
                width: 100px;
                color: #f00 !important;
            }
            &:hover, &:active {
                background-color: #fff;
                cursor: default;
            }
            .icon {
                height: 42px;
                width: 42px;
                fill: $light-grey;
                &.twitter:hover {
                    fill: #00aced;
                }
                &.github:hover {
                    fill: #336699;
                }
                &.home:hover {
                    fill: #ee3a3f;
                }
                &.close {
                    width: 28px;
                    height: 28px;
                    padding: 0 0 10px;
                }
                &.close:hover {
                    fill: $dark-grey;
                    cursor: pointer;
                }
            }
        }
    }
    .colophon {
        padding: 0;
        margin: 0;
        color: $light-grey;
        font-size: .8em;
    }
}
