$break-small: 40em;
$break-medium: 60em;
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: helvetica,arial,sans-serif;
    color: #aaa;
}
canvas {
    background-color: #fff;
    margin: 0;
}
#slide-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 90px;
}
#slide {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
}
#slide.show-nav {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ui, .info {
    width: 100%;
    height: 100%;
    text-align: center;
    & > ul {
        margin: 12px auto 8px;
        display: block;
        padding: 0;
        li {
            display: inline-block;
            border: 1px solid #ddd;
            padding: 7px 10px;
            border-radius: 8px;
            margin: 0 0 6px 0;
            &:hover, &:active {
                background-color: #ddd;
                color: #444;
                cursor: pointer;
            }
        }
        @media only screen and (max-width: $break-small) {
            margin: 4px auto 0;
            font-size: 1em;
            li {
                padding: 7px 13px;
            }
        }
        @media only screen and (min-width: $break-small) and (max-width: $break-medium) {
            margin: 4px auto 0;
            font-size: 1.2em;
        }
        @media only screen and (min-width: $break-medium) {
            font-size: .9em;
        }
    }
}
.info {
    position: absolute;
    top: 0;
    left: 100%;
    & > ul {
        li {
            color: #333;
            border: none;
            &:hover, &:active {
                background-color: #fff;
                color: #333;
            }
            &#closeinfo {
                color: #fff;
                background-color: #aaa;
                padding: 0;
                border: 3px solid #aaa;
                border-radius: 20px;
                height: 1.5em;
                width: 1.5em;
                font-weight: bold;
            }
        }
    }
    .colophon {
        padding: 0;
        margin: 0;
        color: #aaa;
    }
}
