$break-small: 40em;
$break-medium: 60em;

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    padding-bottom: 80px;
}
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: helvetica,arial,sans-serif;
    color: #aaa;
}
canvas {
    background-color: #fff;
    margin: 0;
}
.ui {
    width: 100%;
    & > ul {
        margin: 12px auto 8px;
        text-align: center;
        display: block;
        padding: 0;
        li {
            display: inline-block;
            border: 1px solid #ddd;
            text-align: center;
            padding: 7px 10px;
            border-radius: 8px;
            margin: 0 0 6px 0;
            &:hover, &:active {
                background-color: #ddd;
                color: #444;
                cursor: pointer;
            }
        }
        @media only screen and (max-width: $break-small) {
            margin: 4px auto 0;
            font-size: 1.1em;
        }
        @media only screen and (min-width: $break-small) and (max-width: $break-medium) {
            margin: 4px auto 0;
            font-size: 1.2em;
        }
        @media only screen and (min-width: $break-medium) {
            font-size: .9em;
        }
    }
}
