html {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: helvetica,arial,sans-serif;
  color: #bbb; }
  body a, body a:visited {
    color: #21c2ff; }
    body a:hover, body a:active, body a:visited:hover, body a:visited:active {
      color: #0087ba; }

canvas {
  background-color: #fff;
  margin: 0; }

#slide-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 96px;
  padding: 0;
  margin: 0; }

#slide {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
      transform: translateX(0);
  -webkit-transition: .2s ease all;
  transition: .2s ease all; }

#slide.show-nav {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
      transform: translateX(-100%); }

.ui, .info {
  width: 100%;
  height: 100%;
  text-align: center; }
  .ui > ul, .info > ul {
    margin: 10px auto 8px;
    display: block;
    padding: 0; }
    .ui > ul li, .info > ul li {
      display: inline-block;
      border: 1px solid #d4d4d4;
      padding: 6px 12px 6px;
      border-radius: 18px;
      margin: 0 0 6px 0; }
      .ui > ul li:hover, .ui > ul li:active, .info > ul li:hover, .info > ul li:active {
        background-color: #d4d4d4;
        color: #444;
        cursor: pointer; }
    @media only screen and (max-width: 40em) {
      .ui > ul, .info > ul {
        margin: 4px auto 0;
        font-size: 1em; }
        .ui > ul li, .info > ul li {
          padding: 7px 13px; } }
    @media only screen and (min-width: 40em) and (max-width: 60em) {
      .ui > ul, .info > ul {
        margin: 4px auto 0;
        font-size: .9em; } }
    @media only screen and (min-width: 60em) {
      .ui > ul, .info > ul {
        font-size: .9em;
        margin: 8px auto 0; } }

.info {
  position: absolute;
  top: 0;
  left: 100%; }
  .info > ul li {
    color: #bbb;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 20%; }
    @media only screen and (min-width: 60em) {
      .info > ul li {
        width: 100px;
        color: #f00 !important; } }
    .info > ul li:hover, .info > ul li:active {
      background-color: #fff;
      cursor: default; }
    .info > ul li .icon {
      height: 42px;
      width: 42px;
      fill: #bbb; }
      .info > ul li .icon.twitter:hover {
        fill: #00aced; }
      .info > ul li .icon.github:hover {
        fill: #336699; }
      .info > ul li .icon.home:hover {
        fill: #ee3a3f; }
      .info > ul li .icon.close {
        width: 28px;
        height: 28px;
        padding: 0 0 10px; }
      .info > ul li .icon.close:hover {
        fill: #444;
        cursor: pointer; }
  .info .colophon {
    padding: 0;
    margin: 0;
    color: #bbb;
    font-size: .8em; }
